<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
	<servlet>
		<servlet-name>CkNameServlet</servlet-name>
		<servlet-class>com.javatpoint.servlet.CkNameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CkNameServlet</servlet-name>
		<url-pattern>/servlet/ckNameServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FindArticleByIdServlet</servlet-name>
		<servlet-class>com.javatpoint.servlet.FindArticleByIdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindArticleByIdServlet</servlet-name>
		<url-pattern>/servlet/findArticleByIdServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PageServlet</servlet-name>
		<servlet-class>com.javatpoint.servlet.PageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PageServlet</servlet-name>
		<url-pattern>/pageServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FindArticleInfoServlet</servlet-name>
		<servlet-class>com.javatpoint.servlet.FindArticleInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindArticleInfoServlet</servlet-name>
		<url-pattern>/findArticleInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FindBookInfoServlet</servlet-name>
		<servlet-class>com.javatpoint.servlet.FindBookInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindBookInfoServlet</servlet-name>
		<url-pattern>/findBookInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddCartServlet</servlet-name>
		<servlet-class>com.javatpoint.servlet.AddCartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCartServlet</servlet-name>
		<url-pattern>/addCartServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChangeNumServlet</servlet-name>
		<servlet-class>com.javatpoint.servlet.ChangeNumServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangeNumServlet</servlet-name>
		<url-pattern>/changeNumServlet</url-pattern>
	</servlet-mapping>
	<servlet>
   		<servlet-name>FindOrderServlet</servlet-name>
    		<servlet-class>com.javatpoint.servlet.FindOrderServlet</servlet-class>
  	</servlet>
	<servlet-mapping>
    		<servlet-name>FindOrderServlet</servlet-name>
    		<url-pattern>/servlet/findOrderServlet</url-pattern>
  	</servlet-mapping>
	<servlet>
    		<servlet-name>FindOrderByUserId</servlet-name>
    		<servlet-class>com.javatpoint.servlet.FindOrderByUserId</servlet-class>
  	</servlet>
	<servlet-mapping>
    		<servlet-name>FindOrderByUserId</servlet-name>
    		<url-pattern>/findOrderByUserId</url-pattern>
  	</servlet-mapping>
  	<servlet>
    		<servlet-name>FindOrderItemsByOrderId</servlet-name>
    		<servlet-class>com.javatpoint.servlet.FindOrderItemsByOrderId</servlet-class>
  	</servlet>
	<servlet-mapping>
    		<servlet-name>FindOrderItemsByOrderId</servlet-name>
    		<url-pattern>/findOrderItemsByOrderId</url-pattern>
  	</servlet-mapping>
	<servlet>
    		<servlet-name>CreateOrderServlet</servlet-name>
    		<servlet-class>com.javatpoint.servlet.CreateOrderServlet</servlet-class>
  	</servlet>
	<servlet-mapping>
    		<servlet-name>CreateOrderServlet</servlet-name>
    		<url-pattern>/createOrderServlet</url-pattern>
  	</servlet-mapping>
  	
  	
</web-app>